<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
         pre {
            overflow-x: auto;
            white-space: pre-wrap;
            white-space: -moz-pre-wrap;
            white-space: -pre-wrap;
            white-space: -o-pre-wrap;
            word-wrap: break-word;
         }
      </style>
  </head>
  <body>
    <!-- <h3>Here is the contract for your booking!</h3> -->
    <pre><%= @message_to_recipient %></pre>
    <!-- <p>Sign it and send it!</p> -->
  </body>
</html>
