<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Here is the contract for your booking!</h2>
    <p>Sign it and send it!</p>
  </body>
</html>
