<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hi, <%= @user.email %>!</h2>
    <p>Here is the password token: </p>
    <!-- check routes.rb for url prefix -->
    <%= @user.reset_password_token %>
    <%#= api_v1_url(@user.confirm_token) %>
  </body>
</html>
